@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #088178;
    --secondary-color: #e3e6f3;
    --text-color: #1a1a1a;
    --light-text: #465b52;
    --white: #ffffff;
    --off-white: #f0f2f5;
    --accent-red: #ef3636;
    --shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    --card-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    --hover-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    --glass: rgba(227, 230, 243, 0.7);
    --transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    overflow-x: hidden;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: var(--text-color);
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: var(--text-color);
}

h4 {
    font-size: 20px;
    color: var(--text-color);
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: var(--light-text);
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: var(--white);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: var(--transition);
}

button.normal:hover {
    background-color: var(--primary-color);
    color: var(--white);
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: var(--white);
    background-color: transparent;
    cursor: pointer;
    border: 1px solid var(--white);
    outline: none;
    transition: var(--transition);
}

button.white:hover {
    background-color: var(--white);
    color: var(--primary-color);
}

/* Header Section */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: var(--glass);
    backdrop-filter: blur(10px);
    box-shadow: var(--shadow);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0px 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--light-text);
    transition: var(--transition);
}

#navbar li a:hover,
#navbar li a.active {
    color: var(--primary-color);
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: var(--primary-color);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/* Hero Section */
#hero {
    background-image: url("imagefolder/hero4.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    animation: fadeIn 1s ease-out;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: var(--primary-color);
}

#hero button {
    background-image: url("imagefolder/button.png");
    background-color: transparent;
    color: var(--primary-color);
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    transition: transform 0.3s ease;
}

#hero button:hover {
    transform: scale(1.05);
}

/* Feature Section */
#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: var(--card-shadow);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
    transition: var(--transition);
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
    transform: translateY(-5px);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: var(--primary-color);
}

#feature .fe-box h6 {
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}

/* Product Section */
#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: var(--card-shadow);
    margin: 15px 0;
    transition: var(--transition);
    position: relative;
    overflow: hidden;
}

#product1 .pro:hover {
    box-shadow: var(--hover-shadow);
    transform: translateY(-5px);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
    transition: transform 0.5s ease;
}

#product1 .pro:hover img {
    transform: scale(1.05);
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: var(--primary-color);
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: var(--primary-color);
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
    transition: var(--transition);
}

#product1 .pro .cart:hover {
    background-color: var(--primary-color);
    color: var(--white);
}

/* Banner Section */
#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("imagefolder/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: var(--white);
    font-size: 16px;
}

#banner h2 {
    color: var(--white);
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span {
    color: var(--accent-red);
}

/* Small Banners */
#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("imagefolder/banner/b17.jpg");
    min-width: 49%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    transition: transform 0.3s ease;
}

#sm-banner .banner-box:hover {
    transform: scale(1.02);
}

#sm-banner .banner-box2 {
    background-image: url("imagefolder/banner/b10.jpg");
}

#sm-banner h4 {
    color: var(--white);
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2 {
    color: var(--white);
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span {
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

/* Banner 3 */
#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("imagefolder/banner/b7.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    transition: var(--transition);
}

#banner3 .banner-box:hover {
    transform: translateY(-5px);
}

#banner3 .banner-box2 {
    background-image: url("imagefolder/banner/b4.jpg");
}

#banner3 .banner-box3 {
    background-image: url("imagefolder/banner/b18.jpg");
}

#banner3 h2 {
    color: var(--white);
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3 {
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
}

/* Newsletter */
#newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("imagefolder/banner/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: var(--white);
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span {
    color: #ffbd27;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    background-color: var(--primary-color);
    color: var(--white);
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Footer Section */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
    transition: var(--transition);
}

footer a:hover {
    color: var(--primary-color);
    padding-left: 5px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
    transition: var(--transition);
}

footer .follow i:hover {
    color: var(--primary-color);
    transform: scale(1.2);
}

footer .install .row img {
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    cursor: pointer;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .copyright {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid var(--off-white);
    margin-top: 20px;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Bag Count Indicator */
.bag-count {
    position: absolute;
    top: -5px;
    right: 5px;
    background-color: var(--primary-color);
    color: var(--white);
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 50%;
}

/* Responsiveness */
@media (max-width: 799px) {
    .section-p1 {
        padding: 40px 40px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: var(--secondary-color);
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
        cursor: pointer;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
        cursor: pointer;
    }

    #lg-bag {
        display: none;
    }

    #hero {
        height: 70vh;
        padding: 0 20px;
        background-position: top 30% right 30%;
    }

    #feature {
        justify-content: center;
    }

    #feature .fe-box {
        margin: 15px 15px;
    }

    #product1 .pro-container {
        justify-content: center;
    }

    #product1 .pro {
        margin: 15px;
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }

    #banner3 {
        padding: 0 40px;
    }

    #banner3 .banner-box {
        min-width: 100%;
    }

    #newsletter .form {
        width: 70%;
    }
}

@media (max-width: 477px) {
    .section-p1 {
        padding: 20px;
    }

    #header {
        padding: 10px 30px;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    #hero {
        background-position: top 30% right 50%;
    }

    #sm-banner .banner-box {
        height: 40vh;
    }

    #sm-banner .banner-box2 {
        margin-top: 20px;
    }

    #banner3 {
        padding: 0 20px;
    }

    #newsletter {
        padding: 40px 20px;
    }

    #newsletter .form {
        width: 100%;
    }

    footer .col {
        width: 100%;
    }
}

/* Cart Page */
#cart {
    overflow-x: auto;
}

#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 70px;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
}

#cart table tbody td {
    font-size: 13px;
}

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon {
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3 {
    padding-bottom: 15px;
}

#coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#coupon button,
#subtotal button {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 12px 20px;
}

#subtotal {
    width: 45%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}

/* API Collection Inline Fix */
#api-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

/* Page Headers */
#page-header {
    background-image: url("imagefolder/banner/b1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p {
    color: var(--white);
}

.blog-header {
    background-image: url("imagefolder/banner/b19.jpg") !important;
}

.about-header {
    background-image: url("imagefolder/banner/b4.jpg") !important;
}

/* Blog Section */
#blog {
    padding: 150px 150px 0 150px;
}

#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img {
    width: 50%;
    margin-right: 40px;
}

#blog .blog-img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details {
    width: 50%;
}

#blog .blog-details a {
    text-decoration: none;
    font-size: 11px;
    color: var(--text-color);
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

#blog .blog-details a::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: var(--text-color);
    position: absolute;
    top: 12px;
    right: -60px;
}

#blog .blog-details a:hover {
    color: var(--primary-color);
}

#blog .blog-details a:hover::after {
    background-color: var(--primary-color);
}

#blog .blog-box h1 {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -1;
}

/* About Section */
#about-head {
    display: flex;
    align-items: center;
}

#about-head img {
    width: 50%;
    height: auto;
}

#about-head div {
    padding-left: 40px;
}

/* Contact Section */
#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details {
    width: 40%;
}

#contact-details .details span {
    font-size: 12px;
}

#contact-details .details h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i {
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p {
    margin: 0;
    font-size: 14px;
}

#contact-details .map {
    width: 55%;
    height: 450px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

/* Pagination */
#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 15px 20px;
    border-radius: 4px;
    color: var(--white);
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

/* Responsiveness adjustments for new sections */
@media (max-width: 799px) {
    #blog {
        padding: 100px 20px 0 20px;
    }

    #blog .blog-box {
        flex-direction: column;
        align-items: flex-start;
    }

    #blog .blog-img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    #blog .blog-details {
        width: 100%;
    }

    #about-head {
        flex-direction: column;
    }

    #about-head img {
        width: 100%;
        margin-bottom: 20px;
    }

    #about-head div {
        padding-left: 0;
    }

    #contact-details {
        flex-direction: column;
    }

    #contact-details .details {
        width: 100%;
        margin-bottom: 30px;
    }

    #contact-details .map {
        width: 100%;
    }

    #cart-add {
        flex-direction: column;
    }

    #coupon,
    #subtotal {
        width: 100%;
    }
}

/* Page Headers */
#page-header {
    background-image: url("imagefolder/banner/b1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p {
    color: var(--white);
}

.blog-header {
    background-image: url("imagefolder/banner/b19.jpg") !important;
}

.about-header {
    background-image: url("imagefolder/about/banner.png") !important;
}

/* Blog Section */
#blog {
    padding: 150px 150px 0 150px;
}

#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img {
    width: 50%;
    margin-right: 40px;
}

#blog .blog-img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details {
    width: 50%;
}

#blog .blog-details a {
    text-decoration: none;
    font-size: 11px;
    color: var(--text-color);
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

#blog .blog-details a::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: var(--text-color);
    position: absolute;
    top: 12px;
    right: -60px;
}

#blog .blog-details a:hover {
    color: var(--primary-color);
}

#blog .blog-details a:hover::after {
    background-color: var(--primary-color);
}

#blog .blog-box h1 {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -1;
}

/* About Section */
#about-head {
    display: flex;
    align-items: center;
}

#about-head img {
    width: 50%;
    height: auto;
}

#about-head div {
    padding-left: 40px;
}

/* Contact Section */
#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details {
    width: 40%;
}

#contact-details .details span {
    font-size: 12px;
}

#contact-details .details h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i {
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p {
    margin: 0;
    font-size: 14px;
}

#contact-details .map {
    width: 55%;
    height: 450px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

/* Pagination */
#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 15px 20px;
    border-radius: 4px;
    color: var(--white);
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

/* Responsiveness adjustments for new sections */
@media (max-width: 799px) {
    #blog {
        padding: 100px 20px 0 20px;
    }

    #blog .blog-box {
        flex-direction: column;
        align-items: flex-start;
    }

    #blog .blog-img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    #blog .blog-details {
        width: 100%;
    }

    #about-head {
        flex-direction: column;
    }

    #about-head img {
        width: 100%;
        margin-bottom: 20px;
    }

    #about-head div {
        padding-left: 0;
    }

    #contact-details {
        flex-direction: column;
    }

    #contact-details .details {
        width: 100%;
        margin-bottom: 30px;
    }

    #contact-details .map {
        width: 100%;
    }
}